* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
#outer {
    width: 800px;
    height: 300px;
    margin: 100px auto;
    border: 1px solid red;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
#wrapper {
    display: flex;
    height: 300px;
    background: lavender;
    position: absolute;
    left: 0;
}
#wrapper li {
    width: 800px;
    height: 300px;
}
#wrapper li img {
    display: block;
    width: 100%;
    height: 100%;
}

#list {
    position: absolute;
    left: 50%;
    display: flex;
    align-items: center;
    transform: translate(-50%, -50%);
    bottom: 10px;
}
#list li {
    width: 25px;
    height: 25px;
    margin: 5px 10px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.4);
}
#list li.active {
    background: palegreen;
}
#outer a {
    width: 30px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    color: #fff;
    transform: translate(0, -50%);
}
#left {
    left: 0;
}
#right {
    right: 0;
}
